.active{
    color:#1DBAFF;
}

.dark .active{
    color: #91dcf8;
}

.active .icon{
    background: #DCF6FF;
}



.dark .active .icon{
    background: #1DBAFF;
}

::-webkit-scrollbar {
    width: 10px; /* Scrollbar'ın genişliği */
}

/* Scrollbar arka planı */
::-webkit-scrollbar-track {
    background: var(--scrollbar-bg); /* Arka plan rengi */
}

/* Scrollbar başparmak (kaydırma kutusu) */
::-webkit-scrollbar-thumb {
    background: var(--scrollbar); /* Kaydırma kutusu rengi */
    border-radius: 5px;/* Kenar yuvarlama */
}

/* Scrollbar başparmak üzerine gelindiğinde */
::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-hover); /* Kaydırma kutusu üzerine gelindiğinde rengi */
}