
.active{
    color:#1DBAFF;
}
.dark .active{
    color: #91dcf8;
}
.active .icon{
    background: #DCF6FF;
}
.dark .active .icon{
    background: #1DBAFF;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-bg);
}


::-webkit-scrollbar-thumb {
    background: var(--scrollbar);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-hover);
}