@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #E6EFFF;
    --foreground: #333;
    --card: #fff;
    --card-foreground: #333;
    --primary: #1DBAFF;
    --primary-foreground: #fff;
    --secondary: #ddd;
    --secondary-foreground: #fff;
    --muted: #E6EFFF;
    --muted-foreground: #666;
    --accent: #E6EFFF;
    --accent-foreground: #333;
    --destructive: #5c0909;
    --destructive-foreground: #fff;
    /*--popover: hsl(0 0% 100%);
    --popover-foreground: hsl(240 10% 3.9%);*/
    --border:#ccc;
    --input: #ddd;
    --ring: #339;
    --radius: 0.5rem;
    --chart-1: #304674;
    --chart-2: #C6D3E3;

    /*Full Calendar Custom Properties*/
    --fc-small-font-size: .8em;
    --fc-page-bg-color: #fff;
    --fc-neutral-bg-color: rgba(208, 208, 208, 0.3);
    --fc-neutral-text-color: #808080;
    --fc-border-color: #ddd;

    --fc-button-text-color: #fff;
    --fc-button-bg-color: var(--primary);
    --fc-button-border-color: var(--primary);
    --fc-button-hover-bg-color: var(--primary);
    --fc-button-hover-border-color: var(--primary);
    --fc-button-active-bg-color:#009DE2;
    --fc-button-active-border-color: var(--primary) ;

    --fc-event-bg-color: var(--primary);
    --fc-event-border-color: var(--primary);
    --fc-event-text-color: #fff;
    --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);

    --fc-more-link-bg-color: #d0d0d0;
    --fc-more-link-text-color: inherit;

    --fc-event-resizer-thickness: 8px;
    --fc-event-resizer-dot-total-width: 8px;
    --fc-event-resizer-dot-border-width: 1px;

    --fc-non-business-color: rgba(215, 215, 215, 0.3);
    --fc-bg-event-color: rgb(143, 223, 130);
    --fc-bg-event-opacity: 0.3;
    --fc-highlight-color: rgba(188, 232, 241, 0.3);
    --fc-today-bg-color: rgba(255, 220, 40, 0.1);
    --fc-now-indicator-color: red;
  }

  .dark {
    --background: #171E27;
    --foreground: #fff;
    --card: #1F262F;
    --card-foreground:#fff;
    --primary: #1DBAFF;
    --primary-foreground: #fff;
    --secondary: #3F464F;
    --secondary-foreground: #fff;
    /*--popover: #222;
    --popover-foreground: hsl(0 0% 98%);*/
    --muted: #171E27;
    --muted-foreground: #bbb;
    --accent: #2F363F;
    --accent-foreground: #fff;
    --destructive: #DA1616FF;
    --destructive-foreground: #fff;
    --border: #2F363F;
    --input: #666;
    --ring: hsl(240 4.9% 83.9%);
    --chart-1: #304674;
    --chart-2: #C6D3E3;


    --fc-border-color: #333 ;
    --fc-today-bg-color: rgba(250, 247, 142, 0.23);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}



body{
  font-family: "Poppins", sans-serif;
}